{% extends 'base.html' %}

{% block title %}Tag Details{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <h1>{{tag.name}}</h1>
  </div>
  <div class="row">
    <ul>
      {% for post in tag.posts %}
        <a href="../posts/{{post.id}}">
          {{post.title}}
        </a>
      {% endfor %}
    </ul>
  </div>
  <div class="row">
    <div class = "col-md-8">
      <a href="/tags/{{tag.id}}/edit" class="btn btn-primary">
        Edit
      </a>
      <form method="POST" action="/tags/{{tag.id}}/delete" class="d-inline-block">
        <button class="btn btn-danger">
          Delete
        </button>
      </form>
    </div>
  </div>


</div>

<!-- Create A Tag -->
{% endblock %}
